* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.container .section {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  background-blend-mode: multiply;
}

.container .section:nth-child(1) {
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(2) {
  background: rgba(255, 137, 137, 0.5);
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(3) {
  background: rgba(251, 253, 97, 0.5);
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(4) {
  background: rgba(74, 77, 250, 0.5);
  background-size: cover;
  background-attachment: fixed;
}
